/*________PAGE_________________
____________________________________*/


body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #333;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #333;
}



/*________HEADER MENU_________________
____________________________________*/

#map-container {
  background-color: #333;
  min-height: 400px;
}

.panel-img {
  background-color: #333;
  border: none;
}


.p-top, .pic-top {
  margin-top: 10px;
  border-color: #eee;
  border-width: 5px;
  border-radius: none;
}

.p-top {
  background-color: #333;
  color: #eee;
  font-size: 1.125em;
  margin-top: 25px;
}


/*________NAV MENU____________________
____________________________________*/



.navigation {
	background-color: #333;
	border-radius: 5px;
	margin-bottom: 10px;
  border: 5px solid #eee;
  margin-top: 10px;
}

.search {
	padding-right: 20px;
	padding-left: 20px;
}

#btn-map {
  border: 5px solid #eee;
  background-color: #333;
  color: #eee;
}

#btn-list {
  background-color: #333;
  border: 5px solid #eee;
  border-left: none;
  color: #eee;
}

.btn-list-active, .btn-map-active {
  background-color: red;
  color: #333;
}

.btn-list-inactive, .btn-list-inactive {
  background-color: #333;
  color: #eee;
}


/*#btn-map:focus, #btn-list:focus {
  background-color: #FFCB27;
  color: #333;
  outline: none;
}*/

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #eee;
}

.icon {
	max-height: 175px;
  background-color: #333;
}

.sort-map, .search, .map-list-btns {
	margin-top: 10px;
	margin-bottom: 10px;

}


/*________MAP VIEW____________________
____________________________________*/


#map {
  cursor: url("../img/grab.png"), move;
   border: 5px solid #eee;
}


.panel-map {
  background-color: #333;
}

.map-data-display {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;

}


.map-data-item {
  border: 2px solid black;
  
}





/*________LIST VIEW___________________
____________________________________*/



.rwd-table {
  margin: 1em 0;
  min-width: 100%;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
.rwd-table {
  background: #333;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46627f;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}


/*______LIST VIEW MEDIA QUERIES_______
____________________________________*/



@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}


@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #FFCB27;
}


/*________MODAL ADD EVENT_____________
____________________________________*/

form {
  margin: 20px;
}

.close {
  margin: 20px;
}
 

