/*________MODAL FORM ADD EVENT___________*/


.modal-open {
  color: #eee;
}

.modal-content {
  background-color: rgba(10, 10, 10, .9);
  background-color: #222;
}

.modal-header-add-event {
  background-color: rgba(10, 10, 10, .9 );
  background-color: #222;
  border-radius: 5px 5px 0 0;
  text-align: center;
  min-height: 30px;
  border: none;
  padding: 5px;
}

.modal {
    font-family: 'Roboto Slab', sans-serif; 
}

.form-group {
  margin-bottom: 0px;
}

textarea {
    resize: none;
    height: 100px;
}

textarea.form-control {
  height: 80px;
}

.add-event-form {
  width: 80%;
  margin: 20px auto 20px auto;
}

.add-event-icon {
  padding-left: 3px;
}

.close {
  margin: 20px;
  font-size: 2em;
  opacity: .6;
  color: white;
}

.close:hover {
  color: #ccc;
}


select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.input-group-container {
  // border: 2.5px solid #bbb;
  //border-radius: 5px;
  //background-color: #222;
  box-shadow: 1px 1px 0px 0px #ccc, 2px 2px 0px 0px #ccc, 3px 3px 0px 0px #ccc, 4px 4px 0px 0px #ccc;
  padding: 10px;
  background-color: #5d5d5d;
  margin-bottom: 20px;
  
}

.input-add-event-group {
  margin-bottom: .65em;
}


#map-modal {
  width: 400px;
  height: 200px;
  background-color: silver;
  margin: auto;
}

#add-location-list-btn, #add-location-map-btn {
  display: inline-block;
}

#add-location-map-btn {
}

.location-info h4 {
  display: inline-block;
}

.input-name, .input-discipline, .input-trick, .input-month, .input-day, .input-year, 
  .input-details, .input-photo, .input-video, .input-email, .input-county, .input-state, .input-city {
  margin-bottom: 15px;
  border-radius: 0px !important;
}


.input-group .input-month {
  width: 33.3% !important;
}

.input-group .input-day {
  width: 33.3% !important;
}

.input-group .input-year {
  width: 33.3% !important;
}


.input-state, .input-city {
  margin-top: 14px;
}


h4 {
  color: #FFCB27;
}

.input-group-addon {
  border-radius: 0px;
  background-color: #bbb;
  color: #111;

}

.form-control {
  border-radius: 0px;
  background-color: #eee;
  &:active {
    background-color: #fff;
  }
}



.email-icon {
  color: #FFCB27;
  font-size: 2em !important;
  padding-right: 5px;
}

#email-label {
  position: relative;
  top: -5px;
}

 

 /*upload file btn files*/

.btn {
  border-radius: 0px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-photo {
  background-color: #bbb;
  color: #111;
  &:hover {
    color: #111;
  }
}

.add-event-submit-button {
  background-color: #FFCB27;
  box-shadow: 1px 1px 0px 0px #aaa, 2px 2px 0px 0px #aaa, 3px 3px 0px 0px #aaa, 4px 4px 0px 0px #aaa !important;
  color: #111;
  
  width: 100%;
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin-top: 25px;
  margin-bottom: 35px;
  &:hover {
    background-color: #E5B723;
    color: #111;
  }
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  cursor: text !important;
}