

/*________EVENT MODAL________________________*/

.modal-body {
  background-color: #222;
  font-family: 'Roboto Slab', sans-serif; 
}

.modal-header {
  background-color: #222;
  border-radius: 5px 5px 0 0;
  text-align: center;
  min-height: 30px;
  border: none;
  padding: 5px;
}
 
.add-event-header-title {
  padding-top: 20px;
  font-size: 2em;
}


.modal-footer {
  border: none;
}

.modal-dialog {
  max-width: 1100px;
  @media (min-width: 768px) {
    width: 80%;
  }
}

.header-event-modal {
  background-color: #5D5D5D;
  box-shadow: 1px 1px 0px 0px #ccc, 2px 2px 0px 0px #ccc, 3px 3px 0px 0px #ccc, 4px 4px 0px 0px #ccc;
  border-radius: 0px;
  margin-bottom: 20px;
  font-size: 1.125em;


  // border: 2px solid #ddd;
  // border-radius: 4px;

}

#name h1 {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 3px;
  height: 56px;
  margin: 0;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  white-space:nowrap;
}

#name h1 p {
  color:#333;
  text-decoration:none;
}

#name p:before, #logo p:after {
  content: '\2013\2002';
  color: #333;
}


.ribbon {
  background-color:#FFCB27;
  padding: 0 20px;
  height: 56px;
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  width: 85%;
  margin-top: 10px;

}

.ribbon:before, .ribbon:after {
  content: '.';
  text-indent: -9999em;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 28px;
  position: absolute;
  left: -45px;
  top: 10px;
  display: block;
  z-index: 1;
}

.ribbon:before {
  border-color: #FFCB27 #FFCB27 #FFCB27 transparent;

}

.ribbon:after {
  border-color: #FFCB27 transparent #FFCB27 #FFCB27;
  right: -45px;
  left: auto;
}

.event-data-modal-name {
  font-size: 1.5em;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // width: 450px;
}


#btn-photo, #btn-video {
  border: 3px solid #ddd;
  border-radius: 0px;
  background-color: #333;
  color: #eee;

}

.btn-vid-photo-group {
  padding: 0px;
}

#photo-vid-container {
  background-color: rgba(93, 93, 93, 0.6);
  margin-bottom: 30px;
  box-shadow: 1px 1px 0px 0px #ccc, 2px 2px 0px 0px #ccc, 3px 3px 0px 0px #ccc, 4px 4px 0px 0px #ccc;
  height: 400px;
  

  // border: 2px solid #ddd;
  // border-radius: 4px;
}



.event-data-modal-trick {
  color: #BF981D;
  color: #FFCB27;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 40px; 
  font-size: 1.125em;
  width: 80%;
  padding-bottom: 5px;
}


.event-data-modal-discipline {
  margin-bottom: 15px;
  margin-top: 10px;
}

.discipline-left {
  padding: 5px 0 5px 0;
  margin-top: 0px;
  font-size: 1.75em;
  background-color: #ddd;
  color: #333;
}

.svg-icon-left {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  min-height: 100px;
  margin: 0 auto;
}

 .event-data-modal-extra {
  color: #333;
  margin-bottom: 40px;
  padding: 15px;
  text-align: left;
  
}


.event-modal-date, .event-modal-location, .event-modal-discipline {
  height: 182px;
}

.event-data-modal-city, .event-data-modal-date {
  padding-top: 15px;
}

.event-data-modal-country, .event-data-modal-date, .event-data-modal-discipline {
  padding-bottom: 5px;
}

.event-data-modal-country, .event-data-modal-date, .event-data-modal-discipline, .event-data-modal-city, .event-data-modal-extra {
  color: #eee;
  font-size: 1em;
}



.glyphicon-calendar, .globe-modal, .glyphicon-star {
  font-size: 4em;
  color: #FFCB27;
  margin-top: 15px;

  /*color: #2748FF;*/

}



.date-left, .location-left, .details-left {
  margin-top: 0px !important;
  color: #333;
  background-color: #ddd;
  padding: 5px;
  font-size: 1.75em;
  margin-bottom: 5px;
}



.event-video, #myCarousel {
  border: 2px solid #ddd;
  background-color: #ddd;
  padding: 10px;
  width: 100%;

}

.event-modal-discipline, .event-modal-location, .event-modal-date, .event-modal-extra {
  background-color: rgba(93, 93, 93, .6);
  margin-bottom: 30px;
  box-shadow: 1px 1px 0px 0px #ccc, 2px 2px 0px 0px #ccc, 3px 3px 0px 0px #ccc, 4px 4px 0px 0px #ccc;


  // border: 2px solid #ddd;
  // border-radius: 4px;
}

.event-video {
   box-shadow: 1px 1px 0px 0px #ccc, 2px 2px 0px 0px #ccc, 3px 3px 0px 0px #ccc, 4px 4px 0px 0px #ccc;


  // border: 2px solid #ddd;
  // border-radius: 4px;
}










/*        ________IMG CAROUSEL______________
        ____________________________________*/

#myCarousel {
  background-color: rgba(255,255,255, .5);
  margin-bottom: 10px;
}


.carousel-indicators {
  margin-top: 10px;
}

.modal.modal-fullscreen .modal-content {
  background: rgba(0, 0, 0, .5);
}
.modal.modal-fullscreen .modal-header {
  border: 0;
  color: #fff;
}
.modal.modal-fullscreen .modal-footer {
  border-color: rgba(0, 0, 0, .5);
}
#myModal .carousel-caption {
  background-color: rgba(0, 0, 0, .5);
  bottom: -100%;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}
#myModal .item.active >.carousel-caption {
  bottom: 0;
}




