@import 'list-view';
@import 'map-view';
@import 'event-modal';
@import 'add-event';
@import 'landing-page';

/*________PAGE_________________
____________________________________*/



body {
/*  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;*/  
  background: url('../../img/background/background-wave.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #333;
}

.container {
  max-width: 1400px;
  padding: 0px;
  margin: 0px;
  width: 100vw !important;

}





/*________HEADER______________________
____________________________________*/

.container-fluid {
  width: 100vw;
  background-color: #333;
  border-bottom: 2px solid #ccc;


}

.header {
font-family: 'Roboto Slab', sans-serif; 
margin-left: auto;
width: 100%;
margin-right: auto;
border-top: 2px solid #ddd;
border-bottom: 3px solid #ddd;
background-color: #333;

.important-txt {
  text-transform: uppercase;
  font-size: 1.5em;
  color: red;
}

}

.logo {
  max-height: 75px;
  background-color: transparent;
  margin: 5px auto 5px;
  display: inline-block;
  width: 10%;
  margin-right: 25px;

}

.map-list-btns {

}

#filter-map {
  width: 26.66;
  background-color: yellow;
  margin-top: 5px;
  display: inline-block;
  margin-left: 20px;
}

.welcome {
  color: #FFCB27;
  padding: 8px 10px 4px 10px;
  margin-top: 10px;
  letter-spacing: .1em;
  font-size: 1.1em;
  margin-bottom: 10px;
/*  box-shadow: 1px 1px 0px 0px #ccc, 2px 2px 0px 0px #ccc, 3px 3px 0px 0px #ccc, 
  4px 4px 0px 0px #ccc, 5px 5px 0px 0px #ccc;*/
}

.welcome-top {
  color: #333;
  font-size: 1.1em;
  background-color: tomato;
  width: 100%;
  font-family: 'Roboto Slab', sans-serif; 
  margin: 0px !important;
  padding: 5px;
  text-align: center;

}

.nav-item {
  display: inline-block;
  position: relative !important;
}

.p-add {
 // color: rgb(70, 120, 180);
  color: #eee;
  letter-spacing: .05em;
  margin-top: 10px;
/*  box-shadow: 1px 1px 0px 0px #ccc, 2px 2px 0px 0px #ccc, 3px 3px 0px 0px #ccc, 
  4px 4px 0px 0px #ccc, 5px 5px 0px 0px #ccc;*/
  
}

.p-add p {
  padding: 8px 10px 8px 5px;

}

.btn-add {
  border: 1px solid rgb(70, 120, 180);
  background-color: rgb(70, 120, 180);
  border-radius: 0px;
  color: #eee;
  width: 70%;
  margin-bottom: 10px;
  margin-top: -10px;

  }

.btn-add-event {
  border: 2px solid #bbb;
  width: 22%;

}


.search-box {
  margin-left: 10px;
  margin-right: 10px;
}

/*________NAV MENU____________________
____________________________________*/


.navigation {
	margin-bottom: 10px;
  background-color: #444;
  font-family: 'Roboto Slab', serif;
 /* border-right: 4px solid #eee;
  border-bottom: 4px solid #ccc;
  border-left: 4px solid #eee;*/
/*  box-shadow: 1px 1px 0px 0px #ccc, 2px 2px 0px 0px #ccc, 3px 3px 0px 0px #ccc, 
     4px 4px 0px 0px #ccc, 5px 5px 0px 0px #ccc;*/

}




      /*___NAV MENU TOGGLE MAP/LIST_________
      ____________________________________*/

.globe-icon-btn, .list-icon-btn {
  font-size: 1.125em;

}

#btn-map, #btn-list, {
  border: 2px solid #ddd;
  border-radius: 0px;
  background-color: #333;
  color: #eee;
}

#btn-list {
  border-left: none;
}

.map-list-btns {
  margin-left: 7.5px;
}

.btn-toggle-active {
  background-color: #FFCB27 !important;
  color: #333 !important;
}

      /*___NAV MENU SORT MAP BTN____________
      ____________________________________*/

.sort-map-btn {
  background-color: #ddd;
  color: #333;
  border-radius: 0px;
  border: 2px solid #ddd;

 }

.sort-map:hover, .sort-map:active, .sort-map:focus {
  background-color: #333 !important;
  color: #eee !important;
}

      /*___NAV MENU SEARCH MAP BTN____________
      ____________________________________*/

.search-input {
  background-color: #eee;
  border-radius: 0px;
  border: 2px solid #ddd;
  height: 100%;
}

.search-btn {
  background-color: #ddd;
  border-radius: 0px;
  border: 2px solid #ddd;

}




.btn:focus {
  outline: none;
  box-shadow: none;
}

.sort-map:hover, .btn-add:hover, .btn-search:hover, .btn-search:focus {
  color: #eee;
  border-color: initial !important; 
}

.btn:active, .btn:focus, button {
 box-shadow: none !important;

} 

.active, .focus {
  outline: none !important;
}





/*________TEST STLYES_________________
____________________________________*/

.image-frame{
  z-index:1;
  display:inline-block;
}
.image-frame iframe{
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.image-frame:before, .image-frame::after{
  -webkit-box-shadow: 0 0 7px 4px rgba(104, 104, 104, 0.5);
box-shadow: 0 0 7px 4px rgba(104, 104, 104, 0.5);
content: " ";
display: table;
width: 49%;
height: 0;
position: absolute;
bottom: 6px;
z-index: -2;
}
.image-frame:before {
left: 4px;
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
transform: rotate(-3deg);
}
.image-frame:after {
right: 4px;
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-o-transform: rotate(3deg);
-ms-transform: rotate(3deg);
transform: rotate(3deg);
}











